<div class="product-create-container">
  <h2>Crear producto</h2>
  <form class="product-create-form" (ngSubmit)="onSubmit()" #productForm="ngForm" novalidate>
    <label>
      Nombre:
      <input type="text" name="name" [(ngModel)]="product.name" required #name="ngModel" />
      <span class="error" *ngIf="name.invalid && (name.dirty || name.touched)">
        El nombre es obligatorio.
      </span>
    </label>
    <label>
      Descripción:
      <input type="text" name="description" [(ngModel)]="product.description" required #description="ngModel" />
      <span class="error" *ngIf="description.invalid && (description.dirty || description.touched)">
        La descripción es obligatoria.
      </span>
    </label>
    <label>
      Precio:
      <input type="number" name="price" [(ngModel)]="product.price" required min="1" #price="ngModel" />
      <span class="error" *ngIf="price.invalid && (price.dirty || price.touched)">
        El precio es obligatorio y debe ser mayor a 0.
      </span>
    </label>
    <label>
      Stock disponible:
      <input type="number" name="availableStock" [(ngModel)]="product.availableStock" required min="1" #availableStock="ngModel" />
      <span class="error" *ngIf="availableStock.invalid && (availableStock.dirty || availableStock.touched)">
        El stock es obligatorio y debe ser mayor a 0.
      </span>
    </label>
    <label>
      Imagen:
      <input type="file" (change)="onFileSelected($event)" />
    </label>
    <div style="display: flex; gap: 1em;">
<button type="submit" class="btn-main" style="flex:1;">
  <i class="bi bi-plus-circle"></i> Crear producto
</button>
      <button type="button" class="btn-main btn-back" routerLink="/" style="flex:1;">
        <i class="bi bi-house"></i> Ir al inicio
      </button>
    </div>
  </form>
</div>